.pagination { display: flex; justify-content: flex-start; width: 100%; list-style-type: none; padding: 10px; margin-left: -15px}
.page-item { margin: 0 5px; cursor: pointer; }
.page-link { padding: 10px 20px; text-decoration: none; border: 1px solid #ddd; }
.active .page-link { background-color: #007bff; color: white; }

  